



.sidenav {
  @extend .visible-desktop;
  width: 100%;
  position: relative;
  z-index: 1;
  text-align: left;
  padding-top: 10px;
  /*overflow-x: hidden;*/
  background-color: $main-color;
  background: linear-gradient(to bottom right, $main-color, mainColor(.8));
  padding: 8px 0;
  border-radius: 10px;
  
  display: inline-block;
  box-shadow: 0px 20px 20px rgba(0,0,0,.2);
  &--with-icon{
    background-color: transparent;
    background: transparent;
    padding: 0;
    text-align: center;
    margin-top: 10px; 
  }
  &__element {

    position: relative;
    padding: 19px 23px;
    text-decoration: none;
    font-size: $secondary-font-size;
    display: block;
    border-bottom: 1px solid $main-border-color;
    color: white;
    transition: .4s background-color, color;

    &:hover {
      color: $main-color;
      background-color: white;
      & .white-dot{
        background-color: $main-color;
      }
    }
    &--last{
      border-bottom: none;
    }
  }
  
  &__icon{
    width: calc(50% - 1px);
    background-color: $main-color;
    display: inline-block;
    padding: 20px 0;
    float: left;
    height: 60px;

    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    
    transition: .4s background-color, color;

    &--first{
      border-right: 1px solid $second-border-color;
      border-radius: 0;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }
    &--second{
      width: 50%;
    }
    &:hover {
      color: $main-color;
      background-color: white;
    }
  }
}
.white-dot{
  display: inline-block;
  float: right;
  position: relative;
  width: 8px;
  height: 8px;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  border-radius: 8px;
  background-color: $pink;
  


}


